/* Repeating background image for body */

body {
    background-image: linear-gradient(#453A78, #837CA3);
}
h1 {
    font-size:45px; color:white; text-align:center;
}
      
h2 {
    font-size:35px; color:White; text-align:center;
}
      
h3 {
    font-size:25px; color:White; text-align:center; 
}
      
p, i {
	font-size:20px; color:#C0C0C0; text-align:center; padding-top:5px; padding-bottom:5px; padding-left: 200px; padding-right: 200px;
}

ul, li {
	font-size:20px; color:#C0C0C0; padding-top:5px; padding-bottom:5px; padding-left: 200px; padding-right: 200px;
}

a {
	font-size:20px; color:#FCFF00; text-align:center;
}
      
div {
	font-size:20px; color:White; padding-left:100px; padding-right:100px;
}

img {
	max-width:70%; height:auto;
}

strike {
	color:Red;
}

    
